include ../svgiconsmodule/svgicons.pug
include ../messageboxmodule/messagebox.pug

include ../controlsmodule/controls.pug
include ../audiorecordermodule/audiorecorder.pug
include ../playlistsmodule/playlists.pug