//- controls structure
#controls
    button#record-button.click-button record
    input#audioselect-input(type="file" accept="audio/*")
    //- audio#hidden-audio-element(controls)
    //- button#upload-button.click-button upload 