//- controls structure
#controls
    #micbutton.click-button: svg: use(href="#svg-microphone-icon")
    #mic-line
        button#record-button.click-button record
        button#stop-recording-button.click-button stop
    #select-files-line
        input#audioselect-input(type="file" accept="audio/*" multiple)
    #audio-element-line
        audio#audio-element(controls)
    //- button#upload-button.click-button upload 