//- controls structure
#controls
    button#record-button.click-button record
    input#audioselect-input(type="file" accept=".mp3, .wav")
    audio#hidden-source-audio(controls)
    //- button#upload-button.click-button upload 