// controls styles
#controls
    padding 20px

    button 
        background-color cd-flash
        padding 20px
        width 200px
    #record-button
        display block
        margin auto
        margin-bottom 50px
    
    #audioselect-input
        display block
        margin auto
        width 200px

    // #hidden-source-audio
    //     display none