// controls styles
#controls
    padding 20px

    #micbutton
        background-color: #722
        color black
        width 30px
        height 30px
        padding 20px
        border-radius 50%
        cursor: pointer
        svg
            width 30px
            height 30px
    #micbutton.on
        background-color #5f5


    button 
        background-color cd-flash
        padding 20px
        width 200px
    #record-button
        display block
        margin auto
        margin-bottom 50px
    
    #audioselect-input
        display block
        margin auto
        width 200px

    // #hidden-source-audio
    //     display none