// controls styles
#controls
    padding 20px

    #mic-line
        margin-bottom: 50px
        margin-top 100px
    #micbutton
        position: absolute
        top 20px
        left 20px
        background-color: #722
        color black
        width 30px
        height 30px
        padding 20px
        border-radius 50%
        cursor: pointer
        svg
            width 30px
            height 30px
    #micbutton.on
        background-color #5f5


    button 
        background-color cd-flash
        padding 20px
        width 100px

    #record-button,
    #stop-recording-button
        display block
        margin auto
        pointer-events: none
        filter: grayscale(100%)
    
    #record-button.active
        filter none
        pointer-events: all
    #stop-recording-button.active
        filter none
        pointer-events: all

    #record-button.recording
        background-color red


    #audioselect-input
        display block
        margin auto
        width 200px
        margin-bottom 50px

    #audio-element
        width 280px
 